<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/styles.css" />
	<title>Fen List Stats</title>
</head>

<body>

	<h1>Fens</h1>
	
	<p></p>
				
				
	

	<table>
		<thead>
			<tr>
				<th th:text="FEN"></th>
				<th th:text="NumberOfGames"></th>	
				<th th:text="Results"></th>	
			</tr>
		</thead>
		<tbody>
			<tr th:each="fen : ${fenBeans}">
				<td th:text="${fen.fen}"></td>
				<td th:text="${fen.gameNumber}"></td>
				<td th:text="${fen.pct}"></td>
				
			</tr>
		</tbody>
	</table>

	<script type="text/javascript"
		src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js">
		
	</script>

</body>
</html>