<div class="card-columns">  <div *ngFor="let champion of champions">
    
   
        <div class="card">
            <div class="card-header bg-primary text-light">{{champion.name}} ({{champion.title}})</div>
            <div class="card-body">
                {{champion.score}}
                <br />
                <br />

                <div class="container">
                    <img src={{champion.avatar}} (click)="onDisplayChampion(champion)"/>
                </div>

            </div>
        </div>
  
</div>
</div>